<div class="header">
  <div class="inner">
    <img src="/images/movielens-logo.svg" style="margin-top: 10px;" width="100px" height="30px" alt="MovieLens logo">
  </div>
</div>

<div>
  <h1 style="text-align: center; margin-bottom: 30px;">404</h1>
  <p>We're sorry, but the page you requested cannot be found. Maybe you'd like to visit one of the following pages instead:</p>
  <ul>
      <li><a ng-href="#/">MovieExplorer Instructions</a></li>
      <li><a ng-href="#/explore">MovieExplorer App</a></li>
  </ul>
</div>