<div class="header">
  <div class="inner">
    <span style="color: #f16625; font-size: 25px; line-height:50px;">MovieExplorer</span>
  </div>
</div>

<div>
  <h2>Welcome to MovieExplorer!</h2>
  <p>MovieExplorer is a tool that allows you to <strong>explore and navigate the cinematic universe</strong>. Use it to find a movie you're in the mood for right now, to browse movies that match a particular interest, or to explore new genres and tastes!</p>
  
  <p class="text-muted">MovieExplorer was originally developed for by <a href="https://taavi.taijala.com">Taavi Taijala</a> as part of a research study on <a href="https://movielens.org">MovieLens</a>. A paper describing the tool and studying usage and perceptions was published at the <em>Symposium on Applied Computing</em> in 2018. The tool is archived here for public use, and the <a href="https://github.com/taavi223/movieexplorer/">source code</a> is available on GitHub. Read <a href="https://taavi.taijala.com/downloads/MovieExplorer.pdf">the paper</a> to learn more about MovieExplorer.</p>

  <hr>
  <div class="instruction">
    <img class="right screenshot" src="/images/feedback.jpg">
    <h3>Instructions</h3>
    <ol>
      <li>The MovieExplorer feature works in <strong>a series of rounds</strong>, each containing 10 suggested movies.</li>
      <li>Provide feedback on <strong>some, all, or none of the movies</strong>. It's okay to leave some blank, especially if you are unfamiliar with them&mdash;the system will ignore these.</li>
      <li>Click the &ldquo;submit&rdquo; button to get a new round of movies which <strong>take your feedback into account</strong>.</li>
      <li>Repeat this process as many times as you'd like. <strong>There's no definite stopping point</strong>, so just stop whenever you feel like it!</li>
    </ol>
  </div>
  <div class="clearfix"></div>
  <hr>
    
  <div class="instruction">
    <img class="right screenshot" src="/images/tips.jpg">
    <h3>Tips &amp; Tricks</h3>
    <ul>
      <li>Want to find out more about a movie? <strong>Click on the movie title to get more information about the film</strong>, including a plot description and movie trailer.</li>
      <li>Want to see more movies similar to the current round? <strong>Try using the &ldquo;show more movies&rdquo; or &ldquo;refresh round&rdquo; button.</strong></li>
      <li>If you get off track, <strong>click one of the &ldquo;go back to this round&rdquo; buttons</strong> to go back to a previous point in the process&mdash;or click the &ldquo;start over&rdquo; button to begin again from scratch.</li>
    </ul>
  </div>
  <div class="clearfix"></div>
  <hr>
  <div style="margin-top:25px; margin-bottom: 40px; text-align:center;">
    <a class="btn btn-primary" ng-href="#/explore">Get started now  <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
  </div>
</div>