body {
	color: #4c4c4c;
	background-color: #f1f1f1;
}

hr {
  border-bottom: 1px solid #f9f9f9;
  border-top: 1px solid #d2d2d2;
  
}
.ephemeral {
	 width: 794px;
	 padding: 50px 0 0;
	 margin: 0 auto;
}
 .ephemeral .instruction {
	 margin: 25px 0;
}
 .ephemeral .instruction .screenshot.left {
	 margin-right: 15px;
}
 .ephemeral .instruction .screenshot.right {
	 margin-left: 15px;
}
 .ephemeral .instruction .screenshot {
	 margin-bottom: 15px;
}
 .ephemeral .instruction li {
	 margin-bottom: 12px;
}
 .ephemeral .header {
	 text-align: center;
	 position: fixed;
	 top: 0px;
	 right: 0px;
	 height: 50px;
	 padding: 0;
	 border-bottom: 1px solid #ddd;
	 background-color: #fff;
	 width: 100%;
	 z-index: 100;
}
 .ephemeral .header .close {
	 font-size: 3em;
	 color: #333;
	 margin: 0 10px;
}
 .ephemeral .header .inner {
	 width: 794px;
	 margin: 0 auto;
}
 .ephemeral .round-title {
	 margin: 22px 0 11px;
	 position: relative;
}
 .ephemeral .round-title h3 {
	 margin: 0;
	 position: absolute;
	 bottom: 0;
	 left: 0;
}
 .ephemeral .round-title button {
	 margin: 0;
}
 .ephemeral .pref-row.single-pref .pref {
	 width: 100%;
	 padding: 4px 6px;
}
 .ephemeral .pref-row.single-pref .pref .small {
	 font-size: 14px;
	 font-weight: 300;
}
 .ephemeral .pref-row.single-pref .pref .big {
	 font-size: 14px;
	 font-weight: 700;
}
 .ephemeral .pref-row.multi-pref .pref.pos-pref {
	 border-right: 1px solid #ddd;
}
 .ephemeral .pref-row.multi-pref .pref {
	 width: 50%;
	 padding: 7px 6px;
}
 .ephemeral .pref-row.multi-pref .pref .small {
	 display: block;
	 font-size: 9px;
	 font-weight: 400;
}
 .ephemeral .pref-row.multi-pref .pref .big {
	 display: block;
	 font-size: 14px;
	 line-height: 13px;
	 font-weight: 700;
}
 .ephemeral .pref-row {
	 margin-top: -1px;
	 border: 1px solid #ddd;
	 border-top: none;
	 border-bottom-color: #d0d0d0;
	 width: 154px;
}
 .ephemeral .pref-row .pref {
	 border: none;
	 border-top: 1px solid #ddd;
	 white-space: normal;
	 display: inline-block;
	 color: #333;
	 text-align: center !important;
	 text-shadow: 0 1px 1px #ffffff;
	 vertical-align: middle;
	 cursor: pointer;
	 background-color: #f5f5f5;
	 background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
	 background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
	 background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
	 background-image: -o-linear-gradient(top,#fff,#e6e6e6);
	 background-image: linear-gradient(to bottom,#fff,#e6e6e6);
	 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
	 filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	 background-repeat: repeat-x;
	 -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
	 -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
	 box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
}
 .ephemeral .pref-row .pref.pref-active {
	 background-image: none;
	 outline: 0;
	 -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.45), 0 1px 2px rgba(0,0,0,0.15);
	 -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.45), 0 1px 2px rgba(0,0,0,0.15);
	 box-shadow: inset 0 2px 4px rgba(0,0,0,0.45), 0 1px 2px rgba(0,0,0,0.15);
	 text-shadow: 0 1px 1px rgba(0,0,0,0.45);
}
 .ephemeral .pref-row .pref.pos-pref.pref-active {
	 border-top-color: #005200;
	 color: #fff;
	 background-color: #008000;
}
 .ephemeral .pref-row .pref.neg-pref.pref-active {
	 border-top-color: #8e0000;
	 color: #fff;
	 background-color: #DD0000;
}
 .ephemeral .ephemeral-pref-group {
	 display: inline-block;
	 margin-right: 12px;
}
 .ephemeral .ephemeral-pref-group .pref-label {
	 float: left;
}
 .ephemeral .ephemeral-pref-group .pref-label .text {
	 font-size: 13px;
	 line-height: 14px;
	 text-align: center;
	 display: table-cell;
	 vertical-align: middle;
	 width: 65px;
	 height: 215px;
}
 .ephemeral .ephemeral-pref-group .pref-label .big {
	 font-size: 44px;
	 line-height: 48px;
}
 .ephemeral .ephemeral-pref-group .pref-label .small {
	 font-size: 14px;
	 line-height: 14px;
}
 .ephemeral .ephemeral-pref-group .pref-label.pos-pref {
	 background-color: #428a42;
	 color: #fff;
	 text-shadow: 0 1px 1px rgba(0,0,0,0.45);
}
 .ephemeral .ephemeral-pref-group .pref-label.no-pref {
	 background-color: #8c8c8c;
	 color: #fff;
	 text-shadow: 0 1px 1px rgba(0,0,0,0.45);
}
 .ephemeral .ephemeral-pref-group .pref-label.neg-pref {
	 background-color: #cb4d4d;
	 color: #fff;
	 text-shadow: 0 1px 1px rgba(0,0,0,0.45);
}
 .ephemeral .ephemeral-pref-group .movies {
	 padding: 5px 5px 5px 71px;
}
 .ephemeral .ephemeral-pref-group:last-of-type {
	 margin-right: 0;
}
 .ephemeral .ephemeral-pref-group.pos-pref .movies {
	 background-color: #cfe2cf;
	 border: 1px solid #afcfaf;
	 border-left: none;
}
 .ephemeral .ephemeral-pref-group.neg-pref .movies {
	 background-color: #e2cfcf;
	 border: 1px solid #cfafaf;
	 border-left: none;
}
 .ephemeral .ephemeral-pref-group.no-pref .movies {
	 background-color: #d9d9d9;
	 border: 1px solid #bfbfbf;
	 border-left: none;
}
 .ephemeral .ephemeral-row {
	 margin: 20px 0;
	 white-space: nowrap;
	 overflow-x: auto;
}
 .ephemeral .ephemeral-row .ephemeral-movie-card {
	 margin: 0 6px 0 0;
	 display: inline-block;
	 vertical-align: top;
}
 .ephemeral .ephemeral-row .ephemeral-movie-card:last-child {
	 margin-right: 0;
}
 .ephemeral .ephemeral-row::-webkit-scrollbar {
	 display: none;
}
 .ephemeral .button-row {
	 margin: 20px 0;
}
 .ephemeral .left {
	 float: left;
}
 .ephemeral .right {
	 float: right;
}
 .ephemeral .hr {
	 margin: 20px 0;
}
 .ephemeral .alert {
	 margin-bottom: 20px;
}
 
 
.ml4-movie-card .movie-card-container {
	background-color: #fff;
	width: 154px;
	border: 1px solid #ddd;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.ml4-movie-card .movie-card-container .movie-card-metadata {
	margin: 0 1px 2px 4px;
	position: relative;
}

.ml4-movie-card .movie-card-container .movie-card-metadata .movie-card-metadata-title {
	position: relative;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	width: 146px;
}

.ml4-movie-card .movie-card-container .movie-card-metadata .movie-card-metadata-title a:hover{
  cursor: pointer;
}

.ml4-movie-card .movie-card-container .movie-card-metadata .movie-card-metadata-title:before {
	content: '';
	width: 20px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), #fff);
}

.ml4-movie-card .movie-card-container .movie-card-metadata .movie-card-metadata-info {
	font-size: 13px;
	margin-top: 6px;
	margin-bottom: 4px;
}

.ml4-movie-card .movie-card-container .movie-card-metadata .movie-card-metadata-info .movie-card-metadata-info-mpaa {
	font-size: 12px;
	border: 1px solid gray;
	padding: 2px;
}

.ml4-movie-card .movie-card-container .movie-card-image-and-info {
	position: relative;
	width: 152px;
	height: 154px;
	white-space: normal;
	overflow: hidden;
}

.ml4-movie-card .movie-card-container .movie-card-image-and-info .movie-card-image {
	visibility: visible;
	width: 152px;
	height: 152px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
}

.ml4-movie-card .movie-card-container .movie-card-image-and-info .movie-card-under-image {
	font-size: 12px;
	padding: 6px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  z-index: 10;
  opacity: 0;
  background-color: white;
  display: none;
}

.ml4-movie-card .movie-card-container .movie-card-image-and-info .movie-card-under-image .bottom {
	position: absolute;
	width: 100%;
	bottom: 0px;
	left: 0px;
	padding: 6px 0;
	background-color: white;
	z-index: 11;
	display: none;
}

@media (hover) {
	.ml4-movie-card .movie-card-container .movie-card-image-and-info .movie-card-under-image {
		display: block;
		transition: opacity .2s ease;
	}
	.ml4-movie-card .movie-card-container .movie-card-image-and-info .movie-card-under-image:hover {
		opacity: 1.0;
	}
  .ml4-movie-card .movie-card-container .movie-card-image-and-info .movie-card-under-image .bottom {
    display: block;
  }
}


.ml4-movie-card .movie-card-container .movie-card-image-and-info .movie-card-under-image .movie-card-under-image-item {
	margin-top: 3px;
}


.ml4-movie-card .movie-card-container .movie-card-image-and-info .movie-card-under-image .bottom:before {
	content: '';
	width: 100%;
	height: 20px;
	position: absolute;
	left: 0;
	top: -20px;
	background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #fff);
}


.ml4-movie-list-card-modal {
	padding: 20px;
}

.ml4-movie-list-card-modal h2 {
	margin: 0 30px 20px 0;
}

.ml4-movie-list-card-modal .movie-meta-header {
	font-size: 16px;
	margin-bottom: 6px;
}

.ml4-movie-list-card-modal .movie-details-section {
	margin-bottom: 12px;
	font-size: 14px;
}

.ml4-movie-list-card-modal .movie-details-heading {
	color: #f06624;
	font-size: 11px;
	text-transform: uppercase;
}

.ml4-movie-list-card-modal .plot-summary {
	font-size: 16px;
	margin: 12px 0;
}

.ml4-movie-list-card-modal .large-movie-poster {
	width: 100%;
}

.ml4-movie-list-card-modal .mpaa {
	border: 2px solid;
	padding: 2px 6px;
	margin: 0 5px;
	display: inline-block;
}
 